{% extends 'homepage.html' %}

{% block title%} Register Here {% endblock %}

{% block css %}
<style>
/*style for login page*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

#image {
  /* background-image: url(static/3.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100% ;
  width: 100% ;
  /* background: url(static/1.jpg); */
}

.image
{
  position: relative;
  top: 0;
  left: 0;
  /* background-image: radial-gradient(circle, yellow, green); */
}
.circle
{
  position: absolute;
  top: 0;
  left: 30%;
  height:100%;
  color: red;
  opacity: 0.7;
  border-radius: 50%;
  background-position: center;
}

.text {
  position: absolute;
  top: 39%;
  left:31%;
  width: 40%;
  text-align: center;
  font-size:3.5vw;
  color: blue;
}

/* Set a style for all buttons */
button {
  background-color:#212529;
  color: white;
  padding: 9px 15px;
  margin: 8px 16px 8px 8px;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
}

.nav-container {
  display:inline;
}

.navbar-toggler button {
  display: block;
  width: 2rem;
}

.loginbutton{
  margin-right: 4%;
}

.loginbutton button{
  color: white;
}

.loginbutton button:hover{
  opacity: 0.8;
  color: white;
}

.btn-link {
  box-shadow: 1px 2px 5px blue;
  text-decoration: none;
}

button:hover {
  opacity: 0.8;
}
/*style for Register page*/
* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
   padding: 1rem 10rem;
}

</style>
{% endblock %}

{% block body %}
{% csrf_token %}

  <body class="loginpage">
    <form class="modal-content animate"  id="id02" action="{% url 'company' %}" method="post">
      {% csrf_token %}
      <div class="imgcontainer">
        <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
      </div>

      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" >

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" >

        <label for="key"><b>Employee Security Key</b></label>
        <input type="password" placeholder="Enter Key" name="key" >

        <button type="submit" onclick="{% url 'company' %}">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <span class="new-user">New user? <a href="#">Sign up</a></span><br />
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </body>
  <script>
// Get the modal
var modal = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
</html>

{% endblock %}
