<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
    <title>{% block title%} {% endblock %}</title>
    <style>
      {% block css %}
       {% endblock %}
 </style>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
      <header id="header">
        <h1 id="logo"><a href="{% url 'home' %}">AUTHENTICATOR</a></h1>
        <nav id="nav">
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>
              <a href="#">Login</a>
              <ul>
                <li><a href="{% url 'loginemployee' %}">Organization</a></li>
                <li><a href="{% url 'login' %}">User</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Signup</a>
              <ul>
                <li><a href="{% url 'signup' %}">Organization</a></li>
                <li><a href="{% url 'signup' %}">User</a></li>
              </ul>
            </li>
            <!-- <li><a href="#">Elements</a></li> -->
            <!-- <li><a href="#" class="button primary">Sign Up</a></li> -->
          </ul>
        </nav>
      </header>
      <main role="main" style="width:0; height:0;">
        <div class='container'>

          {% block content %}

          {% endblock %}
        </div>
      </main>
        {% block body %} {% endblock %}


		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}" ></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}" ></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
