<!DOCTYPE HTML>
{% load static %}

<html>
	<head>
		<title>AUTHENTICATOR</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href={% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload landing">
	  <div id="page-wrapper">

	    <!-- Header -->
	      <header id="header">
	        <h1 id="logo"><a href="{% url 'home' %}">AUTHENTICATOR</a></h1>
	        <nav id="nav">
	          <ul>
	            <li><a href="{% url 'home' %}">Home</a></li>
	            <li>
	              <a href="#">Login</a>
	              <ul>
	                <li><a href="{% url 'loginemployee' %}">Organization</a></li>
	                <li><a href="{% url 'login' %}">User</a></li>
	              </ul>
	            </li>
							<li>
	              <a href="#">Signup</a>
	              <ul>
	                <li><a href="{% url 'signup' %}">Organization</a></li>
	                <li><a href="{% url 'signup' %}">User</a></li>
	              </ul>
	            </li>
	            <!-- <li><a href="#">Elements</a></li> -->
	            <!-- <li><a href="#" class="button primary">Sign Up</a></li> -->
	          </ul>
	        </nav>
	      </header>
				<!-- Banner -->
				 <section id="banner">
					 <div class="content">
						 <header>
							<h2>Easy and Secure Certificate Verification</h2>
							<p>Online Verification Network Site</p>
						 </header>
						 <span class="image"><img src="{% static '1.jpg' %}" alt=""></span>
					 </div>
					 <a href="#one" class="goto-next scrolly">Next</a>
				 </section>

			 <!-- One -->
				 <section id="one" class="spotlight style1 bottom">
					 <span class="image fit main"><img src= "{% static '2.jpg' %}"  alt=""></span>
					 <div class="content">
						 <div class="container">
							 <div class="row">
								 <div class="col-4 col-12-medium">
									 <header>
										 <h2>Students and Alumni</h2>
										 <p>Wish to avoid long queues at your University corridors with photocopy of the degree certificate for your certificate verification?</p>
									 </header>
								 </div>
								 <div class="col-4 col-12-medium">
									 <p>Authenticator is the perfect solution you were waiting for! With Authenticator the entire process of verification is now at your fingertips with click of button. We provide access to the verification webpage of the Institute, to enhance your certificate verification service.</p>
								 </div>
								 <!-- <div class="col-4 col-12-medium">
									 <p>Morbi enim nascetur et placerat lorem sed iaculis neque ante
									 adipiscing adipiscing metus massa. Blandit orci porttitor semper.
									 Arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer
									 mi sed nascetur cep aliquet augue varius tempus. Feugiat lorem
									 ipsum dolor nullam.</p>
								 </div> -->
							 </div>
						 </div>
					 </div>
					 <a href="#two" class="goto-next scrolly">Next</a>
				 </section>

			 <!-- Two -->
				 <section id="two" class="spotlight style2 right">
					 <span class="image fit main"><img src="{% static '3.jpg' %}" alt="" /></span>
					 <div class="content">
						 <header>
							 <h2>Key Result Area</h2>
							 <p>Authenticator Corporate enhances your verification experience to the next level</p>
						 </header>
						 <p>Faster and efficient certificate verifications to your Students.Paperless verification, Transparent and can be accessed from anywhere in the world.High degree of data privacy.Considerable saving on use of paper, defined search parameters etc.Highly secured with best technologies and authentications.Reduced cost for students.</p>
						 <!-- <ul class="actions">
							 <li><a href="#" class="button">Learn More</a></li>
						 </ul> -->
					 </div>
					 <a href="#three" class="goto-next scrolly">Next</a>
				 </section>

			 <!-- Three -->
				 <section id="three" class="spotlight style3 left">
					 <span class="image fit main bottom"><img src="{% static 'images/pic04.jpg' %}" alt="" /></span>
					 <div class="content">
						 <header>
							 <h2>Background Screening</h2>
							 <p>Background screening is quickly becoming standard practice in many workplaces and businesses across the world. Organizations are continually on the lookout for new ways to mitigate their risk, and conducting background checks is an effective and easy way to do so.</p>
						 </header>
						 <p>On networking with Authenticator the key success of fine-tuning the verification process can be defined on removal of paper. Exchanges and verification at source resulting in lower turn-around-time to perform verifications.Directverify opens up wide possibilities of location-independent and UTV(unable to verify) categorized Verifiers also in the network.</p>
						 <!-- <ul class="actions">
							 <li><a href="#" class="button">Learn More</a></li>
						 </ul> -->
					 </div>
					 <a href="#four" class="goto-next scrolly">Next</a>
				 </section>

			 <!-- Four -->
				 <section id="four" class="wrapper style1 special fade-up">
					 <div class="container">
						 <header class="major">
							 <h2>AUTHENTICATOR ADVANTAGES</h2>
							 <p>This website provides you the best features</p>
						 </header>
						 <div class="box alt">
							 <div class="row gtr-uniform">
								 <section class="col-4 col-6-medium col-12-xsmall">
									 <span class="icon solid alt major fa-chart-area"></span>
									 <h3>Friendly Interface and Dashboard</h3>
									 <p>Make multiple verification requests through a single page user interface and checkout.</p>
								 </section>
								 <section class="col-4 col-6-medium col-12-xsmall">
									 <span class="icon solid alt major fa-list"></span>
									 <h3>Convenient Features</h3>
									 <p>Convenient features like view status and many more.</p>
								 </section>
								 <!-- <section class="col-4 col-6-medium col-12-xsmall">
									 <span class="icon solid alt major fa-flask"></span>
									 <h3>Cubilia cep lobortis</h3>
									 <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								 </section>
								 <section class="col-4 col-6-medium col-12-xsmall">
									 <span class="icon solid alt major fa-paper-plane"></span>
									 <h3>Non semper interdum</h3>
									 <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								 </section> -->
								 <section class="col-4 col-6-medium col-12-xsmall">
									 <span class="icon solid alt major fa-file"></span>
									 <h3>Removal of Paper</h3>
									 <p>Online verification reduce paper work</p>
								 </section>
								 <section class="col-4 col-6-medium col-12-xsmall">
									 <span class="icon solid alt major fa-lock"></span>
									 <h3>Complete Security</h3>
									 <p>Authenticator is completely secured website</p>
								 </section>
							 </div>
						 </div>
						 <!-- <footer class="major">
							 <ul class="actions special">
								 <li><a href="#" class="button">Magna sed feugiat</a></li>
							 </ul>
						 </footer> -->
					 </div>
				 </section>

	    <!-- Five -->
	      <!-- <section id="five" class="wrapper style2 special fade">
	        <div class="container">
	          <header>
	            <h2>Magna faucibus lorem diam</h2>
	            <p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
	          </header>
	          <form method="post" action="#" class="cta">
	            <div class="row gtr-uniform gtr-50">
	              <div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
	              <div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" /></div>
	            </div>
	          </form>
	        </div>
	      </section> -->

	    <!-- Footer -->
	      <footer id="footer">
	        <ul class="icons">
	          <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
	          <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
	          <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
	          <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
	          <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
	          <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
	        </ul>
	        <ul class="copyright">
	          <li>&copy; Untitled. All rights reserved.</li>
	        </ul>
	      </footer>

	  </div>

	  <!-- Scripts -->
	    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
	    <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
	    <script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
	    <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
	    <script src="{% static 'assets/js/browser.min.js' %}"></script>
	    <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	    <script src="{% static 'assets/js/util.js' %}"></script>
	    <script src="{% static 'assets/js/main.js' %}"></script>

	</body>
