{% extends 'homepage.html' %}

/* {% block title%} Register Here {% endblock %} */
/* {% block blogactive %} active {% endblock blogactive %} */
{% block css %}
* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 1rem 10rem;
}

.flex-container{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}
/* Full-width input fields */
input[type=text], input[type=password], input[type=date] {
  width: 100%;
  padding: 1rem;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, textarea:focus {
  background-color: #ddd;
  outline: none;
}

label[for=Choice]{
  display: inline-block;
  padding-bottom: 0.5rem;
}

label[for=photo]{
  display: block;
  margin:0.4rem;
}

textarea{
  border: none;
  display: block;
  width: 100%;
  background: #f1f1f1;
  margin: 0.4rem 0 1rem 0 ;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}



.small-headings {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color:#8c1aff;
  color: #8c1aff;
}
/* Change styles for extra small screens */
@media (max-width: 300px) {
  .flex-container {
    flex-direction: column;
  }
}

{% endblock %}

{% block body %}

<body>
  <header class="major">
    <h2>LOGIN</h2>
    <p>Ipsum dolor feugiat aliquam tempus sed magna lorem consequat accumsan</p>
  </header>
  <div class="signup-container">
    <form class="" action="{% url 'verify' %}" method="post">
      {% csrf_token %}
      <div class="container">
        <label for="email"><b>Usename</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" >
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" >

        <button type="submit" onclick="{% url 'company' %}">Login</button>

        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>

      </div>
      <!-- <div class="container" style="background-color:#f1f1f1">
        <span class="new-user">New user? <a href="#">Sign up</a></span><br />
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div> -->
    </form>
  </div>
</body>
{% endblock %}
