{% extends 'homepage.html' %}

/* {% block title%} Register Here {% endblock %} */
/* {% block blogactive %} active {% endblock blogactive %} */
{% block css %}
* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 1rem 10rem;
}

.flex-container{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}
/* Full-width input fields */
input[type=text], input[type=password], input[type=date] {
  width: 100%;
  padding: 1rem;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #181818;
}

input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, textarea:focus {
  background-color: #181818;
  outline: none;
}

label[for=Choice]{
  display: inline-block;
  padding-bottom: 0.5rem;
}

label[for=photo]{
  display: block;
  margin:0.4rem;
}

textarea{
  border: none;
  display: block;
  width: 100%;
  background: #181818;
  margin: 0.4rem 0 1rem 0 ;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #181818;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}



.small-headings {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color:#8c1aff;
  color: #8c1aff;
}
/* Change styles for extra small screens */
@media (max-width: 300px) {
  .flex-container {
    flex-direction: column;
  }
}

{% endblock %}

{% block body %}
  {% csrf_token %}
<body>
  <header class="major">
    <h2>Registration</h2>
    <p>Fill out the form carefully for registration.</p>
  </header>
  {% if error %}
  {{error}}
  <br />
  <br />
  {% endif %}
  <div class="signup-container">
    <form class="" action="{% url 'signup' %}" method="post">
      {% csrf_token %}
      <div class="container">
        <h3 class="small-headings">Account Details</h3>
        <!--<div class="flex-container">
          <div class="row">
            <div class="col-sm-6">
              <label for="email"><b>First Name</b></label>
              <input type="text" placeholder="Enter First Name" name="name" id="name" required>
            </div>
            <div class="col-sm-6">
              <label for="email"><b>Last Name</b></label>
              <input type="text" placeholder="Enter last Name" name="name" id="name" required>
            </div>
          </div>
        </div>-->
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
        <label for="psw-repeat"><b>Confirm Password</b></label>
        <input type="password" placeholder="Confirm Password" name="psw" id="psw-repeat" required>
        <h3 class="small-headings">Personal Details</h3>
        <label for="uname"><b>Full Name</b></label>
        <input type="text" placeholder="Enter Full Name" name="username" id="username" required>
        <label for="dob"><b>Date Of Birth</b></label>
        <input type="date" name="dob" id="dob" ><br />
        <label for="number"><b>Phone No.</b></label>
        <table>
          <tr>
            <td>
              <input type="text" name="country code"  value="+91" size="2"/>
            </td>
            <td>
              <input type="text"  placeholder="Enter Phone No." name="number" size="10" ><br />
            </td>
          </tr>
        </table>
        <label class="radio" for="Choice"><b>Gender</b></label><br />
          <input type="radio" id="Choice1" name="gender" checked>
          <label for="Choice">Male</label>
          <input type="radio" id="Choice2" name="gender">
          <label for="Choice">Female</label>
          <input type="radio" id="Choice3" name="gender">
          <label for="Choice">Others</label><br /><br />
        <label for="address"><b>Address</b></label>
        <textarea name="adress" rows="4"></textarea>
        <label for="state"><b>State</b></label>
        <input type="text" placeholder="" name="state" id="state" >
        <label for="uname"><b>City</b></label>
        <input type="text" placeholder="" name="city" id="city" >
        <label for="photo"><b>Photo</b></label>
        <input type="file" name="photo" id="photo" accept="image/*"><br>
        <label for="photo"><b>Student Id</b></label>
        <input type="file" name="photo" id="photo" accept="image/pdf"><br>
        <button type="submit" onclick="">Submit</button>
      </div>
    </form>
  </div>
</body>
{% endblock %}
