{% extends 'homepage.html' %}
{% block body %}
    <h1>Verify Your Certificate</h1>
    <form class="form-inline" action="#" method="post">
      <div class="form-group">
        <label for="certiid">Certificate No</label>
        <input type="text" class="form-control" name="certificateno" id="certificateno" placeholder="Enter Certificate No" required>
  <label for="courseid">Course Name</label>
        <input type="text" class="form-control" name="coursename" id="courseid" placeholder="Enter Course Name" required>
      </div>
      <button type="submit" class="breadboard-btn-primary">Verify</button>
    </form>
{% endblock %}
