/*style for login page*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 10px 18px;
  margin: 2px 0 18px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color:#212529;
  color: white;
  padding: 9px 15px;
  margin: 8px 16px 8px 8px;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
}

.nav-container {
  display:inline;
}

.navbar-toggler button {
  display: block;
  width: 2rem;
}

.loginbutton{
  margin-right: 4%;
}

.loginbutton button{
  color: white;
}

.loginbutton button:hover{
  opacity: 0.8;
  color: white;
}

.btn-link {
  box-shadow: 1px 2px 5px blue;
}

button:hover {
  opacity: 0.8;
}

.login-container, .cancelbtn, .new-user{
  padding: 1rem 1rem 0.5rem 1rem;
  margin: 1rem;
}

.btn-psw{
  justify-content: center;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
/*style for Register page*/
* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 1rem 7rem;
}

.flex-container{
  display: flex;
  flex-direction:column;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 1rem;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.small-headings {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color:#8c1aff;
  color: #8c1aff;
}
/* Change styles for extra small screens */
@media (max-width: 300px) {
  .flex-container {
    flex-direction: column;
  }
}
