{% extends 'employee/homepage.html' %}
{% block body %}
<header class="major">
  <h3>Certificate Information</h3>
</header>
  <section>
    <!-- <h3>Data</h3> -->

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Cerificate ID</th>
            <th>Course Title</th>
            <th>Student Name</th>
          </tr>
        </thead>
        {% for A in employee.all %}
        <tbody>

          <tr onclick="window.location='{% url 'detail' A.id %}';" style="cursor: pointer;">
            <!-- <div class="col-2" onclick="window.location='{% url 'detail' A.id %}';" style="cursor: pointer;"> -->
            <td> {{ A.certi_no }}</td>
            <td>{{ A.course }}</td>
            <td>{{ A.username }}</td>
          </tr>
        </div>
          <tr>
{% endfor %}
{% endblock %}
