{% extends 'employee/basic.html' %}

{% load static %}
{% block body %}

<div class="row">
  <div class="col-8">
    <img src="{{ A.image.url }}" class="img-fluid" />
  </div>
  <div class="col-10">
      <h2>Certificate ID : {{ A.certi_no }}</h2>
  </div>
  <div class="col-10">
      <h2>Certificate Holder's Name : {{ A.username }}</h2>
  </div>
  <div class="col-10">
      <h2>Course Name : {{ A.course }}</h2>
  </div>
  <div class="col-10">
      <h2>Father's Name : {{ A.father }}</h2>
  </div>
</div>

{% endblock %}
