{% extends 'employee/homepage.html' %}

/* {% block title%} Register Here {% endblock %} */
/* {% block blogactive %} active {% endblock blogactive %} */
{% block css %}
* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 1rem 10rem;
}

.flex-container{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}
/* Full-width input fields */
input[type=text], input[type=password], input[type=date] {
  width: 100%;
  padding: 1rem;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #181818;
}

input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, textarea:focus {
  background-color: #181818;
  outline: none;
}

label[for=Choice]{
  display: inline-block;
  padding-bottom: 0.5rem;
}

label[for=photo]{
  display: block;
  margin:0.4rem;
}

textarea{
  border: none;
  display: block;
  width: 100%;
  background: #181818;
  margin: 0.4rem 0 1rem 0 ;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #181818;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}



.small-headings {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color:#8c1aff;
  color: #8c1aff;
}
/* Change styles for extra small screens */
@media (max-width: 300px) {
  .flex-container {
    flex-direction: column;
  }
}

{% endblock %}

{% block body %}
<body>
  <header class="major">
    <h3>Insert Certificate Information</h3>
  </header>
        <div class="container">
          {% csrf_token %}
          <form method='POST' action = '{% url 'insert' %}' enctype='multipart/form-data'>
            {% csrf_token %}
          <label for="certi_no"><b>Certificate ID</b></label>
          <input type="text" placeholder="Enter ID" name="certi_no" required><br>

          <label for="username"><b>Certificate holder name</b></label>
          <input type="text" placeholder="Enter Username" name="username" required><br>

          <label for="course"><b>Course name</b></label>
          <input type="text" placeholder="course name" name="course" required><br>

          <label for="father"><b>Father's name</b></label>
          <input type="text" placeholder="Enter Father's name" name="father" required><br>

          <label for="photo"><b>Add Image</b></label>
          <input type="file" name="image" id="image" accept="image/*"><br>
          <br>
          <!-- <label for="fname"><b>Add image</b></label>
          <input type="image" placeholder="image" name="image"></input><br> -->

           <button type="submit">Insert</button>

      </div>
    <!-- </form> -->
  <!-- </div> -->
</body>
{% endblock %}
