{% extends 'employee/basic.html' %}
{% block content %}
{% load static %}
{% csrf_token %}
      <div class="container">
        {% csrf_token %}
        <form method='POST' action = '{% url 'insert' %}' enctype='multipart/form-data'>
          {% csrf_token %}
        <label for="certi_no"><b>Certificate ID</b></label>
        <input type="text" placeholder="Enter ID" name="certi_no" required><br>

        <label for="username"><b>Certificate holder name</b></label>
        <input type="text" placeholder="Enter Username" name="username" required><br>

        <label for="course"><b>Course name</b></label>
        <input type="text" placeholder="course name" name="course" required><br>

        <label for="father"><b>Father's name</b></label>
        <input type="text" placeholder="Enter Father's name" name="father" required><br>

        Image:
        <br />
        <input type='file' name='image' />
        <br />

        <!-- <label for="fname"><b>Add image</b></label>
        <input type="image" placeholder="image" name="image"></input><br> -->

        <button type="submit">ADD</button>
      </form>
      </div>


  <script>

</script>
{% endblock %}
